* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#registerForm,
#validationForm {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: cadetblue;

  input[type="text"] {
    padding: 4px 8px;
    outline: none;
  }
}

input[type="text"] {
  padding-left: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  border-radius: 5px;
  height: 32px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}
ul > li {
  color: rgb(182, 0, 0);
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  /* margin-top: 8px; */
}

.hidden {
  display: none;
}
