* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1rem;
  color: #323232;
}
h2 {
  font-size: 0.8rem;
  color: bisque;
}
nav {
  position: fixed;
  right: 0px;
  top: 0px;
  display: flex;
  width: 100vw;
  height: 55px;
  background-color: #323232;
  justify-content: end;
  align-items: center;
  font-size: 1rem;
  z-index: 10;
  padding-right: 15px;
  gap: 15px;
}
.nav-user {
  color: rgb(8, 176, 248);
  font-size: 12px;
}
nav > a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 56px;
}

.main-login,
.main-register,
.main-profile {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
#registerForm,
#validationForm,
#profileForm {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 15px;
  border-radius: 15px;
  padding: 15px;
  background-color: cadetblue;

  input[type="text"] {
    padding: 4px 8px;
    outline: none;
  }
}

input[type="text"] {
  padding-left: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  border-radius: 5px;
  height: 32px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}
ul > li {
  color: rgb(182, 0, 0);
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  /* margin-top: 8px; */
}

.hidden {
  display: none;
}
